* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

:root {
  --green_lighter: hsl(148, 38%, 91%);
  --green_medium: hsl(169, 82%, 27%);
  --grey_medium: hsl(186, 15%, 59%);
  --grey_darker: hsl(187, 24%, 22%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
}

body,
html {
  width: 100dvw;
  height: 100dvh;
}

body {
  background-color: var(--green_lighter);
  display: flex;
  align-items: center;
  justify-content: center;
}

form.form {
  width: 560px;
  background-color: var(--white);
  border-radius: 5px;
  color: var(--grey_darker);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2px;
  padding: 25px;
}

form.form h2 {
  margin-bottom: 15px;
}

form.form div.form_name_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

form.form div.form_textarea_wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .10fr 1fr .10fr;
  row-gap: 10px;
}

form.form div.form_textarea_wrapper label.form_textarea_wrapper_label {
  color: var(--green_medium);
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}

form.form div.form_textarea_wrapper textarea.form_text_wrapper_textarea_normal {
  width: 100%;
  height: 80px;
  border: 2px solid var(--grey_medium);
  border-radius: 5px;
  color: var(--green_medium);
  font-size: 1rem;
  font-weight: 500;
  resize: none;
  padding: 10px;
  outline-color: var(--green_medium);
}

form.form div.form_textarea_wrapper textarea.form_text_wrapper_textarea_error {
  width: 100%;
  height: 80px;
  border: 2px solid var(--red);
  border-radius: 5px;
  color: var(--green_medium);
  font-size: 1rem;
  font-weight: 500;
  resize: none;
  padding: 10px;
  outline-color: var(--green_medium);
}

form.form div.form_textarea_wrapper small.form_textarea_small {
  color: var(--red);
  font-weight: 500;
}

form.form div.form_box_content {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

form.form div.form_box_content div.form_box_body {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

form.form div.form_box_content div.form_box_body label.form_consent_label {
  color: var(--green_medium);
  font-size: 14px;
  font-weight: 600;
}

form.form button.form_btn_submit {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green_medium);
  border: none;
  border-radius: 5px;
  color: var(--green_lighter);
  font-size: .95rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 17px;
  cursor: pointer;
  transition: all .5 cubic-bezier(0.39, 0.575, 0.565, 1);

  &:hover {
    background-color: var(--grey_darker);
  }
}

@media screen and (max-width: 768px) {
  form.form {
    width: 345px;
  }
  form.form div.form_name_wrapper {
    flex-direction: column;
  }
}